body {
  background: #dfdfdf;
  color: #868686;
  font-family: 'Sintony', Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme', Helvetica, sans-serif;
  font-weight: bold;
}

.bg-orange {background: #f26c4e;}
.bg-purple  {background: #cf6baa;}
.bg-yellow {background: #f2c24d;}
.bg-green {background: #a3d178;}
.bg-blue {background: #78ccd0;}
.bg-dark-green {background: #8ebe5f;}

.btn {
  border: none;
  display: inline-block; /*can't set width and height of inline element like anchor tags*/
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
}

.main-nav .bg-orange, .main-nav .bg-purple, .main-nav .bg-yellow,
.main-nav .bg-green, .main-nav .bg-blue, .btn {
  -webkit-transition: background .5s;
  transition: background .5s;
}

.main-nav .bg-orange:hover, .btn.bg-orange:hover {background: #fd8a70;}
.main-nav .bg-purple:hover  {background: #e993c9;}
.main-nav .bg-yellow:hover {background: #ffd777;}
.main-nav .bg-green:hover {background: #c4eaa0;}
.main-nav .bg-blue:hover {background: #9de4e7;}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************** HEADER ********************/
header {
  text-align: center;
  width: 100%;
}

.main-title {
  font-size: 48px;
  line-height: 40px;
}

.main-title span {
  font-size: 24px;
  letter-spacing: 5px;
}

/******************** MAIN NAVIGATION ********************/
.main-nav {
  background: #cdcdcd;
  width: 100%;
}

.main-nav ul {
  /*background: red;*/
  list-style: none;
  padding: 0;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  text-align: left;

/*left edge of feature slider should be flush with left edge of HOME button rather than with the left border of the home button*/
  position: relative;
  left: -4px;
}

.main-nav li {
  /*background: red;*/

  /*to get the same color at the background in between; if we used margin-left we would get the color of the nav*/
  border-left: 4px solid #dfdfdf;

  float: left;
  height: 70px;
  width: 140px;

  position: relative; /*to place the a absolutely*/
}

.main-nav li:last-child {
  border-right: 4px solid #dfdfdf;
}

.main-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  box-sizing: border-box; /*so giving padding doesn't increase the size of the object*/
  padding-top: 24px;
  text-align: center;
  width: 140px; /* so the entire li becomes clickable*/
  height: 70px;
  position: absolute;
}

/*little red dots in between*/
.main-nav li a:before {
  content: ' ';
  background: #f26c4e;
  border: 3px solid #dfdfdf; /*same color as background*/
  border-radius: 10px;
  position: absolute;
  left: -10px;
  top: 27px; /*number found by trial and error*/
  width: 10px;
  height: 10px;
}

.main-nav li:last-child a:after {
  content: ' ';
  background: #f26c4e;
  border: 3px solid #dfdfdf; /*same color as background*/
  border-radius: 10px;
  position: absolute;
  right: -10px;
  top: 27px; /*number found by trial and error*/
  width: 10px;
  height: 10px;
}

/******************** FEATURE SLIDER ********************/
.main-content {
  width: 1000px;
  margin: 0 auto;
}

.feature-slider {
  background: white;
  position: relative;
  height: 320px;
  margin-top: 4px;
}

.nav-left, .nav-right {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 131px;
}

.nav-left {
  background: url(../img/slider-left.png) no-repeat;
  left: -10px;
}

.nav-right {
  background: url(../img/slider-right.png) no-repeat;
  right: -10px;

}

.slider-nav {
  list-style: none;
  padding-left: 0;
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 10px;
  margin: 0;
}

.slider-nav li {
  background: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.slider-nav li.active {
  background: #f26c4e;
}

.slider-nav li a {
  position: absolute;
  width: 10px;
  height: 10px;
}

.slide-image {
  position: absolute;
  bottom: 0;
  right: 90px;
}

.slide-text {
  width: 310px;
  margin: 40px 0 0 90px;
  float: left;
}

.slide-text h2 {
  font-family: 'Sintony', Helvetica, sans-serif;
  color: #f26c4e;
  margin-bottom: 0;
}

/******************** FEATURE SERVICES ********************/
.feature-services {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  /*overflow: hidden; ALT TO GET LAYOUT OF SAME HEIGHT WITHOUT FIXING THE HEIGHT TO 440PX*/
}

.column-half {
  display: inline;
  float: left;
  margin: 0px;
  width: 500px;
  height: 440px; /*100% ALT*/
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  /*padding-bottom:9999px;
  margin-bottom:-9999px; ALT*/
}

.feature-services .column-half p {
  color: #fff;
  text-align: left;
}

.feature-services .column-half h2 a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.feature-services .column-half p a {
  font-weight: bold;
  color: #fff;
}

.feature-services .column-half p a:hover {
  color: #e7ffbc;
}

/******************** FOOTER ********************/
footer {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: #ededed;
}

.column-one-third {
  display: inline;
  float: left;
  margin: 0px;
  width: 333.33px;
  padding: 20px;
  box-sizing: border-box;
}

.blog-list {
  color: #8ebe5f;
  padding-left: 16px;
}

.blog-list a {
  color: #78ccb0;
  font-weight: bold;
  text-decoration: none;
}

.blog-list a:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  padding-left: 0;
}

.social-list li {
  float: left;
  margin-right: 10px;
}

.column-registration {
  background: #f26c4e;
}

.column-registration h2 {
  color: white;
}

.column-registration input {
  border: none;
  padding: 10px;
  box-sizing: border-box; /*so we can add padding*/
  width: 100%;
  margin-bottom: 20px;
}

.column-registration .btn {
  width: 100%;
  background: #f2c24b;
  margin-bottom: 40px;
}
