body {
  background: #dfdfdf;
  color: #868686;
  font-family: 'Sintony', Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme', Helvetica, sans-serif;
  font-weight: bold;
}

.main-content {
  width: 1000px;
  margin: 0 auto;
}

.bg-orange {background: #f26c4e;}
.bg-purple  {background: #cf6baa;}
.bg-yellow {background: #f2c24d;}
.bg-green {background: #a3d178;}
.bg-blue {background: #78ccd0;}
.bg-dark-green {background: #8ebe5f;}

/******************** HEADER ********************/
header {
  text-align: center;
  width: 100%;
}

.main-title {
  font-size: 48px;
  line-height: 40px;
}

.main-title span {
  font-size: 24px;
  letter-spacing: 5px;
}

/******************** NAVIGATION ********************/
.main-nav {
  background: #cdcdcd;
  width: 100%;
}

.main-nav ul {
  /*background: red;*/
  list-style: none;
  padding: 0;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  text-align: left;

/*left edge of feature slider should be flush with left edge of HOME button rather than with the left border of the home button*/
  position: relative;
  left: -4px;
}

.main-nav li {
  /*background: red;*/

  /*to get the same color at the background in between; if we used margin-left we would get the color of the nav*/
  border-left: 4px solid #dfdfdf;

  float: left;
  height: 70px;
  width: 140px;

  position: relative; /*to place the a absolutely*/
}

.main-nav li:last-child {
  border-right: 4px solid #dfdfdf;
}

.main-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  box-sizing: border-box; /*so giving padding doesn't increase the size of the object*/
  padding-top: 24px;
  text-align: center;
  width: 140px; /* so the entire li becomes clickable*/
  height: 70px;
  position: absolute;
}

/******************** FEATURE SLIDER ********************/
.feature-slider {
  background: white;
}
