@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf'); /*ttf won't work in IE*/
}

body {
  border-top: 8px solid #ec8e08;
  color: #888;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec8e08;
  font-family: colossalis, sans-serif;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/********************* LOGO *******************/
.logo {
  float: left;
  max-width: 50%;
}

.logo h2 {
  display: inline-block;
  font-size: 3em;
  margin-top: 0;
  padding-right: 5px;
}

.logo h3 {
  border-left: 2px solid #a1a1a1;
  display: inline-block;
  color: #a1a1a1;
  font: 1.75em "Trebuchet MS", Tahoma, sans-serif;
  padding-left: 10px;
  position: relative;
  top: -.2em;
}

/********************* SOCIAL MEDIA *******************/
.social {
  float: right;
  max-width: 50%;
  text-align: right;
}

.social ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.social ul li {
  display: inline-block;
}

.social p {
  font-size: .85em;
  margin: 10px 0 2px 0;
}

.social a i {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 2.5em; /* rather than use font awesome classes as we want between 2x and 3x*/
  transition: color .5s;
}

.social a:hover i.fa-facebook-square{
  color: #3b5998;
}

.social a:hover i.fa-twitter-square{
  color: #4099ff;
}

.social a:hover i.fa-google-plus-square{
  color: #d34836;
}

.social a:hover i.fa-youtube-square{
  color: #ff3333;
}

/********************* NAVIGATION MENU *******************/
nav {
  border: 1px solid #ccc;
  width: 958px;
  height: 45px;
}

.main-nav {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav li {
  border-right: 1px solid #ccc;
  float: left;
  position: relative; /* so the a below can be positioned absolutely*/
  width: 100px;
  height: 45px;
}

.main-nav li a {
/*we want the entire block to be clickable so we make the a take the entire space*/
/*display: inline-box; also an option rather than what we do here using absolute positioning*/
  color: #a1a1a1;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding-top: 14px;
  position: absolute;
  width: 100px;
  height: 31px; /*45-14 ( - padding)*/
  /*background: beige; to show better*/
  transition: background .5s;
}

.main-nav li a:hover {
  background: #eee;
}

.search {
  color: #a1a1a1;
  float: right;
  margin: 10px 10px 0 0;
}

.search input {
  border: 1px solid #a1a1a1;
  background: #eee;
  border-radius: 30px;
  padding-left: 8px;
  margin-right: 5px; /* a icon too close */
}

.search a {
  text-decoration: none;
  color: #a1a1a1;
}

/********************* SLIDER *******************/
.slider {
  background: #eee url("../img/slider-bg.jpg") no-repeat; /*color as fallback if img doesn't load*/
  width: 960px; /*from slider-bg.jpg*/
  height: 260px;
  margin-top: 20px;
  position: relative;
}

.slider-prev,
.slider-next {
  color: #444;
  font-size: 30px;
  text-decoration: none;
  opacity: .5;
  position: absolute;
  top: 115px;
  transition: opacity .5s;
}

.slider-prev:hover,
.slider-next:hover {
  opacity: 1;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

.slide-image {
  position: absolute;
  top: 15px;
  left: 80px;
}

.slide-content {
  width: 50%;
  position: absolute;
  right: 80px;
}

.slider-title {
  font: 55px "Trebuchet MS", Tahoma, sans-serif;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 5px;
}

.slider-title span {
  color: #a1a1a1;
  font-size: 30px;
  font-weight: normal;
}

.slider-button {
/*must position absolutely or make block-level to set width & height of inline element (a tag is inline)*/
  display: inline-block;
  background: #8bcf48;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  transition: background .5s;
}

.slider-button:hover {
  background: #9cdf59;
}

.slider-button span {
  font-size: 14px;
}

/********************* THREE COLUMNS LAYOUT *******************/
.column-one-third,
.column-two-thirds {
  margin-right: 24px;
  padding: 0;
/*float or inline-block to put the columns next to one another*/
  float: left;
}

.column-one-third:last-child,
.column-two-thirds:last-child {
  margin-right: 0;
}

.column-one-third {
  width: 304px;
}

.column-two-thirds {
 width: 632px; /*304 x 2 + 24*/
}

/********************* FOUR COLUMNS LAYOUT *******************/
.column-one-fourth {
  border: 1px solid #ddd;
  border-left: none; /*don't want to double borders*/
  padding: 10px;
  width: 218.75px;
  float: left;
}

.column-one-fourth:first-child {
  border-left: 1px solid #ddd;
}

.meet-the-team {
  padding-top: 20px;
  margin-bottom: 5px;
}

.image-container {
  position: relative;
  height: 160px; /*same as img*/
}

.image-caption {
  position: absolute;
  bottom: 0;
  width: 200px; /* = 220 width of img - 2 x 10 padding*/
  padding: 3px 10px;
  background: black;
  color: white;
  opacity: .5;
}

/********************* FOOTER *******************/
footer {
  border-top: 8px solid #ec8e08;
  background: #555;
  margin-top: 20px;
  width: 100%; /* not needed*/
}

.footer-row {
  width: 960px;
  margin: 0 auto;
}

.footer-row h3 {
  color: white;
  font: 1.4em "Trebuchet MS", Tahoma, sans-serif;
}

.thumbnails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thumbnails li {
  float: left;
  margin-right: 8px;
}

.copyright {
  border-top: 1px solid #888;
  font-size: 13px;
  text-align: center;
  width: 960px;
  padding: 10px;
  margin: 0 auto;
}
