@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf');
}

body {
  border-top: 8px solid #ec8e08;
  color: #888;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec8e08;
  font-family: colossalis, sans-serif;
}
