ul {
  perspective: 500px;
}

li {
  width: 200px;
  height: 200px;
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
  counter-increment: item;
}

li div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .4s;
  backface-visibility: hidden;
  box-shadow: 0 6px 10px -8px rgba(0,0,0,.8);
}

.front {
  z-index: 2;
  color: darkgray;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  background: #e3e3e3;
}

.front:after {
  content: counter(item);
}

.back {
  transform: rotateY(180deg);
}

li:hover .front {
  z-index: 0;
  transform: rotateY(180deg);
}

li:hover .back {
  z-index: 0;
  transform: rotateY(0deg);
}
