h1 {
    background: url(../img/ubuntu-orange.gif) no-repeat;
    text-indent: -9999px;
    width: 164px;
    height: 61px;
}

form li {
    list-style: none;
    margin-bottom: 20px;
}

form ul {
    padding-left: 0px;
}

label {
    display: block;
    cursor: pointer;
    color:black;
    font-family: sans-serif;
    padding-bottom: 8px;
}

textarea {
    width: 400px;
    height: 200px;
}
